@import 'colors';
@import 'mixins';

footer {
    @include centering;
    align-items: flex-start;
    height: auto;
    width: 100%;
    background-color: black;
    color: white;
    padding: 30px;
    margin-bottom: 70px;
    

        .child {
            @include centering;
            position: relative;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            flex: 1;
            height: 100%;
            padding: 10px;
            
                h3 {
                    font-size: 14px;
                    color: orange;
                    margin-bottom: 20px;
                    cursor: pointer;
                    width: 100%;
                }

                .span-container {
                    @include centering;
                    align-items: flex-start;
                    flex-direction: column;
                    min-width: 100px;
                    transition: transform 0.8s ease;
                    animation: fadein 0.8s ease;

                        span {  
                            margin: 6px 0px;
                            font-size: 14px;
                        }
                }

                @keyframes fadein {
                    from {
                        transform: translateY(-40px);
                        opacity: 0;
                    }
                    to {
                        transform: translateY(0px);
                        opacity: 1;
                    }
                } 
        }

        .logo {

                img { 
                    width: 100px;
                    height: 70px;
                }
        }

}

