header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: auto;
  top: 0px;
  width: 90%;
  height: 90px;
  background-color: white;
  -webkit-box-shadow: 0px 5px 5px #f0f0f0;
          box-shadow: 0px 5px 5px #f0f0f0;
  z-index: 4;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  width: 50%;
  background-color: white;
  padding-left: 20px;
}

header .logo img {
  width: 77px;
  height: 57px;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: white;
}

header .nav .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  -webkit-box-flex: 2.2;
      -ms-flex: 2.2;
          flex: 2.2;
}

header .nav .item h2 {
  font-size: 12px;
  font-weight: bolder;
  color: #02475b;
}

header .nav .item .break-doctors, header .nav .item .break-pharmacy, header .nav .item .break-lab, header .nav .item .break-covid {
  width: 60px;
  height: 1px;
  background-color: #02475b;
  margin: 5px 0px;
}

header .nav .item .break-pharmacy {
  width: 70px;
}

header .nav .item .break-lab {
  width: 68px;
}

header .nav .item .break-covid {
  width: 55px;
}

header .nav .item p {
  font-size: 11px;
  color: gray;
  font-weight: bold;
  line-height: 15px;
}

header .nav .cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1.3;
      -ms-flex: 1.3;
          flex: 1.3;
}

header .nav .cart svg {
  fill: #02475b;
}

header .nav .cart .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  width: 15px;
  height: 15px;
  background-color: red;
  position: absolute;
  top: -7px;
  right: 12px;
  border-radius: 50%;
  font-size: 10px;
}

header .nav .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  padding-right: 10px;
}

header .nav .user .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #02475b;
}

header .nav .user .icon-container svg {
  fill: white;
}
/*# sourceMappingURL=header.css.map */