@import 'mixins';
@import 'colors';


header {
    @include centering;
    position: fixed;
    left: auto;
    top: 0px;
    width: 90%;
    height: 90px;
    background-color: white;
    box-shadow: 0px 5px 5px rgb(240, 240, 240);
    z-index: 4;

            .logo {
                @include centering;
                justify-content: flex-start;
                height: 100%;
                width: 50%;
                background-color: white;
                padding-left: 20px;

                    img {
                        width: 77px;
                        height: 57px;
                    }
            }
            .nav {
                @include centering;
                height: 100%;
                flex: 1;
                background-color: white;

                    .item {
                        @include centering;
                        flex-direction: column;
                        align-items: flex-start;
                        height: 100%;
                        flex: 2.2;
                        

                            h2 {
                                font-size: 12px;
                                font-weight: bolder;
                                color: $dark-gray;
                            }

                            .break-doctors {
                                width: 60px;
                                height: 1px;
                                background-color: $dark-gray;
                                margin: 5px 0px;
                            }
                            .break-pharmacy {
                                @extend .break-doctors;
                                width: 70px;
                            }
                            .break-lab {
                                width: 68px;
                                @extend .break-doctors;
                            }
                            .break-covid {
                                width: 55px;
                                @extend .break-doctors;
                            }
                            p {
                                font-size: 11px;
                                color: gray;
                                font-weight: bold;
                                line-height: 15px;
                            }
                    }

                    .cart {
                        position: relative;
                        @include centering;
                        flex: 1.3;

                            svg {
                                fill: $dark-gray;
                            }

                            .number {
                                @include centering;
                                text-align: center;
                                color: white;
                                width: 15px;
                                height: 15px;
                                background-color: red;
                                position: absolute;
                                top: -7px;
                                right: 12px;
                                border-radius: 50%;
                                font-size: 10px;
                            }
                    }

                    .user {
                        @include centering;
                        flex: 1.5;
                        padding-right: 10px;

                            .icon-container {
                                @include centering;
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                background-color: $dark-gray;

                                    svg {
                                        fill: white;
                                    }
                            }
                    }
            }
}