@import 'colors';
@import 'mixins';

@media only screen and (min-width: 900px){
    
    body .whole-body-container .sticky-footer {
        display: none;
    }
    body .whole-body-container footer {
        margin-bottom: 0px;
    }
    body .whole-body-container header .nav .item, .cart {
        min-width: 70px;
    }

}

@media only screen and (max-width: 900px){
    body .whole-body-container .doctor-panel {
        right: 20px;
    }
    body .whole-body-container {
        width: 100%;
    }
    body .whole-body-container header {
        width: 100vw;
    }

    body .whole-body-container .doctor {
        @include centering;
        width: 100%;
        height: auto;
        justify-content: center;
        
    }

    body .whole-body-container .tests-container .test {
        width: 90%;
        padding-left: 10px;
            .swiper-container-test .slide {
                margin: 0px 13px;
            }
    }
    body .whole-body-container .health-container .health {
        width: 90%;
        padding-left: 10px;
            .swiper-container-health .slide {
                margin: 0px 11px;
            }
    }
    body {
        overflow-x: hidden;
        
            .whole-body-container {
                width: 100%;

                    header {
                        
                            .logo {
                                width: 100%;
                            }
                            
                            .nav {
                                    .item {
                                        display: none;
                                    }
                                    .user {
                                        display: flex;
                                        margin: 0px 20px;
                                    }
                                    .cart {
                                        display: flex;
                                        margin: 0px 10px;

                                            .number {
                                                right: -3px;
                                            }
                                    }
                                    
                            }
                    }

                    .articles {
                        .bottom {
                            padding: 20px 0px;
                            .lower {
                                flex-direction: column;
                                padding: 20px 20px;
                                    .button {
                                        width: 100%;
                                        justify-content: flex-start;
                                        margin: 5px;
                                    }
                            }
                        }
                    }
            }
    }
}
@media only screen and (max-width: 768px){
    body .whole-body-container .tests-container .test {
        width: 90%;
        padding-left: 30px;
            .swiper-container-test .slide {
                margin: 0px 8px;
            }
    }

    body .whole-body-container .doctor-panel {
        right: 20px;
    }

    body .whole-body-container .doctor {
        @include centering;
        width: 100%;
        height: auto;
        justify-content: center;

    }

    body .whole-body-container .health-container .health {
        width: 90%;
        padding-left: 10px;
            .swiper-container-health .slide {
                min-width: 135px;
                margin: 0px 5px;
            }
    }
    body .whole-body-container .top-specialities .swiper-container-specialities{
        flex-wrap: wrap;

            .slide {
                margin-top: 30px;
            }
    }
    body {
        overflow-x: hidden;
        
            .whole-body-container {
                padding-right: 20px;
                width: 100vw;

                    header {
                        
                            .logo {
                                width: 100%;
                            }
                            
                            .nav {
                                    .item {
                                        display: none;
                                    }
                                    .user {
                                        display: flex;
                                        margin: 0px 20px;
                                    }
                                    .cart {
                                        display: flex;
                                        margin: 0px 10px;

                                            .number {
                                                right: -3px;
                                            }
                                    }
                                    
                            }
                    }

                    .main-section {
                        min-width: 100vw;

                        .img-container {
                            display: none;
                        }
                        .left-hand-content {
                            height: 100%;
                            width: 100%;
                            align-items: stretch;
                        }
                    }
                    

                    .articles {
                        
                        .middle {
                            .right {
                                bottom: 0px;
                                left: 30px;
                            }
                        }

                        .bottom {
                            padding: 20px 0px;
                            .lower {
                                flex-direction: column;
                                padding: 20px 20px;
                                    .button {
                                        width: 100%;
                                        justify-content: flex-start;
                                        margin: 5px;
                                    }
                            }
                        }
                    }

                    footer {
                       flex-direction: column;

                       .child {
                        width: 100%;
        
                            h3 {
                                color: white;
                                text-transform: uppercase;
                                font-size: 14px;
                            }
                            
                            h3::before {
                                content: '+';
                                margin-right: 5px;
                            }
        
                            .span-container {
                                display: none;
                                padding-bottom: 20px;
        
                                    span {
                                        text-align: left;
                                        padding-left: 30px;
                                        color: orange;
                                    }
                            }
                    }
        
                    .after::after {
                        content: '';
                        width: 100%;
                        height: 0.1px;
                        margin: 10px 0px;
                        background-color: gray;
                        position: absolute;
                        bottom: 0px;
                    }

                            .item {
                                width: 100%;
                            }
                        
                            .logo {
                                align-items: center;
                                justify-content: center;
                                order: 5;
                                width: 100%;
                            }
                    }
                    
                    .queries {
                        align-items: stretch;
                        
                        .lower-container {
                            width: 100%;
                            align-items: stretch;
                            flex-direction: column;
            
                                .faq {
                                    min-width: 100%;
                                    margin: 10px;
                                }
                        }
                }
            }
    }
}

@media only screen and (max-width: 600px){
    .whole-body-container {
        width: 100vw;
        padding-right: 20px;

            .main-section {
                min-width: 100vw;
            }    
    }
    body .whole-body-container .doctor-panel {
        right: 20px;
    }
    body .whole-body-container footer {

            .child {
                width: 100%;

                    h3 {
                        color: white;
                        text-transform: uppercase;
                        font-size: 14px;
                    }
                    
                    h3::before {
                        content: '+';
                        margin-right: 5px;
                    }

                    .span-container {
                        display: none;
                        padding-bottom: 20px;

                            span {
                                text-align: left;
                                padding-left: 30px;
                                color: orange;
                            }
                    }
            }

            .after::after {
                content: '';
                width: 100%;
                height: 0.1px;
                margin: 10px 0px;
                background-color: gray;
                position: absolute;
                bottom: 0px;
            }
    }
    body .whole-body-container .articles .top h2 {
        font-size: 1.8rem;
    }

    body .whole-body-container .doctor {
        @include centering;
        width: 100%;
        height: auto;
        justify-content: center;
    }

    body .whole-body-container .articles .middle {
        padding: 100px 30px;

            .right {
                bottom: 2px;
            }
    }
    body .whole-body-container .tests-container .test {
        width: 90%;
        padding-left: 40px;
            .slide {
                margin: 10px;
            }
    }
    body .whole-body-container .queries {
            align-items: stretch;
            
            .lower-container {
                width: 100%;
                align-items: stretch;
                flex-direction: column;

                    .faq {
                        min-width: 100%;
                        margin: 10px;
                    }
            }
    }
}