@import 'colors';
@import 'mixins';

@media only screen and (min-width: 900px){
    body .whole-body-container .sticky-footer {
        display: none;
    }
    body .whole-body-container footer {
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 900px){
    body {
        overflow-x: hidden;
        
            .whole-body-container {
                width: 100%;

                    header {
                        
                            .logo {
                                width: 100%;
                            }
                            
                            .nav {
                                    .item {
                                        display: none;
                                    }
                                    .user {
                                        display: flex;
                                        margin: 0px 20px;
                                    }
                                    .cart {
                                        display: flex;
                                        margin: 0px 10px;

                                            .number {
                                                right: -3px;
                                            }
                                    }
                                    
                            }
                    }

                    .articles {
                        .bottom {
                            padding: 20px 0px;
                            .lower {
                                flex-direction: column;
                                padding: 20px 20px;
                                    .button {
                                        width: 100%;
                                        justify-content: flex-start;
                                        margin: 5px;
                                    }
                            }
                        }
                    }
            }
    }
}
@media only screen and (max-width: 768px){
    body {
        overflow-x: hidden;
        
            .whole-body-container {
                padding-right: 20px;
                width: 100%;

                    header {
                        
                            .logo {
                                width: 100%;
                            }
                            
                            .nav {
                                    .item {
                                        display: none;
                                    }
                                    .user {
                                        display: flex;
                                        margin: 0px 20px;
                                    }
                                    .cart {
                                        display: flex;
                                        margin: 0px 10px;

                                            .number {
                                                right: -3px;
                                            }
                                    }
                                    
                            }
                    }

                    .main-section {
                        .img-container {
                            display: none;
                        }
                        .left-hand-content {
                            height: 100%;
                            width: 100%;
                            align-items: stretch;
                        }
                    }
                    

                    .articles {
                        
                        .middle {
                            .right {
                                bottom: 0px;
                                left: 30px;
                            }
                        }

                        .bottom {
                            padding: 20px 0px;
                            .lower {
                                flex-direction: column;
                                padding: 20px 20px;
                                    .button {
                                        width: 100%;
                                        justify-content: flex-start;
                                        margin: 5px;
                                    }
                            }
                        }
                    }

                    footer {
                       flex-direction: column;

                            .child {
                                .span-container {
                                    display: none;
                                }
                            }

                            .item {
                                width: 100%;
                            }
                        
                            .logo {
                                align-items: center;
                                justify-content: center;
                                order: 5;
                                width: 100%;
                            }
                    }
                    
                    .queries {
                        align-items: stretch;
                        
                        .lower-container {
                            width: 100%;
                            align-items: stretch;
                            flex-direction: column;
            
                                .faq {
                                    min-width: 100%;
                                    margin: 10px;
                                }
                        }
                }
            }
    }
}

@media only screen and (max-width: 600px){
    .whole-body-container {
        padding-right: 20px;
    }
    body .whole-body-container footer {
        align-items: center;

            .child {
                h3 {
                    text-align: center;
                }
                .span-container {
                    display: none;
                    align-items: center;
                }
            }
    }
    body .whole-body-container .articles .top h2 {
        font-size: 1.8rem;
    }

    body .whole-body-container .articles .middle {
        padding: 100px 30px;

            .right {
                bottom: 2px;
            }
    }
    body .whole-body-container .queries {
            align-items: stretch;
            
            .lower-container {
                width: 100%;
                align-items: stretch;
                flex-direction: column;

                    .faq {
                        min-width: 100%;
                        margin: 10px;
                    }
            }
    }
}