@import 'mixins';
@import 'colors';

.queries {
    @include centering;
    flex-direction: column;
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px rgb(211, 211, 211);
    background-color: white;
    padding: 20px 20px;

        p {
            text-align: left;
            width: 100%;
            color: rgb(95, 95, 95);
            font-size: 18px;
            margin-bottom: 20px; 
            padding-left: 10px;
        }
        .lower-container {
            @include centering;
            justify-content: flex-start;
            height: auto;
            width: 100%;
            padding: 10px;

                .faq {
                    @include centering;
                    min-width: 150px;
                    height: 50px;
                    border-radius: 10px;
                    box-shadow: 0px 0px 10px $light-pink;
                    margin: 0px 10px;
                    padding: 10px;

                        svg {
                            fill: $light-pink;
                            flex: 1;
                            margin: 0px 7px;
                        }

                        span {
                            font-size: 14px;
                            flex: 4;
                            color: $light-pink;
                            
                        }
                }
        }

}