@import 'colors';
@import 'mixins';

.slider-section {
    @include centering;
    width: 90%;
    height: auto;

        .slider-one {
            width: 90%;
            height: 270px;
            margin-top: 20px;

                .swiper-slide {
                    @include centering;
                    max-width: 100%;
                    height: auto;

                        img {
                            max-width: 100%;
                            max-height: 100%;
                        }
                }
        }
}
