@import 'mixins';
@import 'colors';
@import 'header';
@import 'main-section';
@import 'queries';


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    @include centering;
    width: 100vw;
    font-family: sans-serif;
    background-color: rgb(201, 201, 201);
    overflow-x: hidden;
}

.whole-body-container {
    @include centering;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    width: 92%;
    height: 100%;
    background-color: white;
}

