header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 90px;
  background-color: white;
  -webkit-box-shadow: 0px 5px 5px #f0f0f0;
          box-shadow: 0px 5px 5px #f0f0f0;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  width: 50%;
  background-color: white;
  padding-left: 20px;
}

header .logo img {
  width: 75px;
  height: 55px;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: white;
}

header .nav .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  -webkit-box-flex: 2.2;
      -ms-flex: 2.2;
          flex: 2.2;
}

header .nav .item h2 {
  font-size: 12px;
  font-weight: bold;
  color: #2e2e2e;
}

header .nav .item .break-doctors, header .nav .item .break-pharmacy, header .nav .item .break-lab, header .nav .item .break-covid {
  width: 60px;
  height: 1px;
  background-color: black;
  margin: 5px 0px;
}

header .nav .item .break-pharmacy {
  width: 70px;
}

header .nav .item .break-lab {
  width: 68px;
}

header .nav .item .break-covid {
  width: 55px;
}

header .nav .item p {
  font-size: 12px;
  color: gray;
  line-height: 15px;
}

header .nav .cart {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1.3;
      -ms-flex: 1.3;
          flex: 1.3;
}

header .nav .cart .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  width: 15px;
  height: 15px;
  background-color: red;
  position: absolute;
  top: -7px;
  right: 12px;
  border-radius: 50%;
  font-size: 10px;
}

header .nav .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  padding-right: 10px;
}

header .nav .user .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #2e2e2e;
}

header .nav .user .icon-container svg {
  fill: white;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 78vh;
  width: 100%;
  -webkit-box-shadow: 0px 5px 5px #f0f0f0;
          box-shadow: 0px 5px 5px #f0f0f0;
  padding-top: 130px;
}

.main-section .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 60%;
  height: 70%;
}

.main-section .left-hand-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70%;
  width: 40%;
  padding-left: 40px;
  padding-bottom: 80px;
}

.main-section .left-hand-content h1 {
  text-align: left;
  width: 100%;
  font-size: 3.3rem;
  margin-bottom: 30px;
}

.main-section .left-hand-content p {
  text-align: left;
  width: 100%;
  font-size: 18px;
  margin-bottom: 20px;
  color: #318FBA;
}

.main-section .left-hand-content .buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 300px;
}

.main-section .left-hand-content .buttons-container .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
  height: 60px;
  background-color: gray;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  padding: 0px 10px;
}

.main-section .left-hand-content .buttons-container .button span {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  text-align: left;
  padding-left: 10px;
}

.main-section .left-hand-content .buttons-container .button img {
  max-width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-section .left-hand-content .buttons-container #top-button, .main-section .left-hand-content .buttons-container #middle-button {
  margin-bottom: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#2D4D71), to(#5AA5AB));
  background: linear-gradient(to right, #2D4D71, #5AA5AB);
}

.main-section .left-hand-content .buttons-container #top-button img, .main-section .left-hand-content .buttons-container #middle-button img {
  width: 40px;
  height: 40px;
}

.main-section .left-hand-content .buttons-container #bottom-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.main-section .left-hand-content .buttons-container #bottom-button #left-button {
  margin-right: 5px;
  width: 50%;
  background-color: white;
  -webkit-box-shadow: 5px 5px 10px lightgray;
          box-shadow: 5px 5px 10px lightgray;
  color: black;
}

.main-section .left-hand-content .buttons-container #bottom-button #left-button span {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  text-align: left;
}

.main-section .left-hand-content .buttons-container #bottom-button #left-button img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-section .left-hand-content .buttons-container #bottom-button #right-button {
  margin-left: 5px;
  width: 50%;
  background-color: white;
  -webkit-box-shadow: 5px 5px 10px lightgray;
          box-shadow: 5px 5px 10px lightgray;
  color: black;
}

.main-section .left-hand-content .buttons-container #bottom-button #right-button span {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
}

.main-section .left-hand-content .buttons-container #bottom-button #right-button img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.queries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  height: auto;
  border-radius: 10px;
  margin-top: 30px;
  -webkit-box-shadow: 0px 0px 10px lightgray;
          box-shadow: 0px 0px 10px lightgray;
  background-color: white;
  padding: 20px 30px;
}

.queries p {
  text-align: left;
  padding-left: 20px;
  width: 100%;
  color: #5f5f5f;
  font-size: 18px;
  margin-bottom: 20px;
}

.queries .lower-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.queries .lower-container .faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px #FCBC52;
          box-shadow: 0px 0px 10px #FCBC52;
  margin: 0px 10px;
}

.queries .lower-container .faq svg {
  fill: #FCBC52;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0px 7px;
}

.queries .lower-container .faq span {
  font-size: 14px;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  color: #FCBC52;
}

.swiper-container {
  margin-top: 50px;
  width: 90%;
  height: 300px;
}

.swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
}

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  height: auto;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px lightgray;
          box-shadow: 5px 5px 10px lightgray;
  margin-top: 50px;
  margin-bottom: 40px;
}

.articles .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 124px;
  position: relative;
  padding-left: 30px;
  padding-top: 0px;
}

.articles .top h2 {
  font-size: 2.5rem;
  font-weight: 100;
  z-index: 2;
  color: white;
}

.articles .top p {
  z-index: 2;
  color: white;
  font-weight: 100;
  font-size: 14px;
}

.articles .top #banner {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
}

.articles .top #svg {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
  z-index: 2;
}

.articles .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 170px;
  background-color: white;
  padding-left: 30px;
}

.articles .middle .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
}

.articles .middle .left h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.articles .middle .left p {
  font-size: 15px;
  color: gray;
}

.articles .middle .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 230px;
  height: 40px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 5px 10px lightgray;
          box-shadow: 0px 5px 10px lightgray;
  background-color: white;
}

.articles .middle .right svg {
  position: relative;
  top: 2px;
  margin: 0px 10px;
  fill: #FCBC52;
  width: 20px;
  height: 20px;
}

.articles .middle .right span {
  position: relative;
  top: -3px;
  height: 100%;
  margin: 10px 0px;
  color: #FCBC52;
  font-size: 14px;
}

.articles .dashed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 20px;
  border-bottom: 2px #d4d4d4 dashed;
  background-color: white;
}

.articles .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 150px;
  background-color: white;
  border-radius: 10px;
}

.articles .bottom .upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 40px;
  padding-left: 30px;
}

.articles .bottom .upper span {
  font-size: 12px;
  color: #464646;
}

.articles .bottom .lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 70px;
}

.articles .bottom .lower .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  border-radius: 10px;
  border: 2px solid gray;
}

.articles .bottom .lower .button span {
  font-size: 14px;
}

.articles .bottom .lower .button svg, .articles .bottom .lower .button img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 430px;
  width: 100%;
  background-color: black;
  color: white;
  padding: 30px;
}

footer .child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

footer .child h3 {
  font-size: 14px;
  color: red;
  margin-bottom: 20px;
}

footer .child span {
  margin: 6px 0px;
  font-size: 14px;
}

footer .logo img {
  width: 100px;
  height: 70px;
}

.health-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 150px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.health-container .health {
  width: 80%;
  height: 100%;
  overflow-x: hidden;
}

.health-container .health .swiper-container-health {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 75%;
  height: 100px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.health-container .health .swiper-container-health .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-width: 167px;
  height: 70px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px lightgray;
          box-shadow: 0px 0px 10px lightgray;
  margin: 0px 10px;
}

.health-container .health .swiper-container-health .slide img {
  margin-left: 20px;
  width: 30px;
  height: 30px;
}

.health-container .health .swiper-container-health .slide span {
  margin: 0px 15px;
  font-size: 12px;
}

.health-container .health .left, .health-container .health .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  background: white;
  border: 1px gray dashed;
  border-radius: 50%;
  top: 80px;
  margin: 0px 20px;
  z-index: 2;
  cursor: pointer;
}

.health-container .health .left {
  left: 0px;
}

.health-container .health .right {
  right: 0px;
}

.health-container h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  height: 48px;
  margin-left: 50px;
}

.health-container .line {
  width: 95%;
  height: 1px;
  background-color: gray;
}

.top-specialities {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 300px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: hidden;
}

.top-specialities h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  height: 48px;
  margin-left: 50px;
}

.top-specialities .line {
  width: 95%;
  height: 1px;
  background-color: gray;
}

.top-specialities .swiper-container-specialities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 250px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.top-specialities .swiper-container-specialities .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 167px;
  height: 190px;
  border-radius: 10px;
  padding: 10px 0px;
  -webkit-box-shadow: 0px 0px 10px lightgray;
          box-shadow: 0px 0px 10px lightgray;
  margin-left: 30px;
}

.top-specialities .swiper-container-specialities .slide #title, .top-specialities .swiper-container-specialities .slide #keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: gray;
  height: 40px;
  width: 100%;
  text-align: center;
}

.top-specialities .swiper-container-specialities .slide img {
  margin: 10px 30px 20px;
  width: 50px;
  height: 50px;
}

.top-specialities .swiper-container-specialities .slide #for {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  height: 20px;
  margin: 0px;
  width: 100%;
  text-align: center;
  padding: 0px 10px;
}

.top-specialities .swiper-container-specialities .slide #keys {
  font-size: 10px;
  height: 20px;
  padding: 0px 10px;
  text-align: center;
}

.tests-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 320px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.tests-container h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  height: 48px;
  margin-left: 50px;
}

.tests-container .line {
  width: 95%;
  height: 1px;
  background-color: gray;
}

.tests-container .test {
  width: 80%;
  height: 100%;
  overflow-x: hidden;
}

.tests-container .test .swiper-container-test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 250px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 10px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.tests-container .test .swiper-container-test .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 320px;
  height: 90%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px lightgray;
          box-shadow: 0px 0px 10px lightgray;
  margin: 0px 10px;
}

.tests-container .test .swiper-container-test .slide .line {
  width: 95%;
  height: 1px;
  background-color: gray;
}

.tests-container .test .swiper-container-test .slide .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 80px;
  width: 100%;
  padding: 0px 10px;
}

.tests-container .test .swiper-container-test .slide .top img {
  width: 50px;
  height: 50px;
  margin: 0px 10px;
}

.tests-container .test .swiper-container-test .slide .top span {
  font-size: 1.2rem;
  font-weight: bold;
  width: 80%;
}

.tests-container .test .swiper-container-test .slide .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 30px;
  width: 100%;
  padding: 0px 10px;
}

.tests-container .test .swiper-container-test .slide .middle span {
  font-size: 12px;
}

.tests-container .test .swiper-container-test .slide .first-lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 35px;
  width: 100%;
  padding: 0px 10px;
}

.tests-container .test .swiper-container-test .slide .first-lower span {
  color: gray;
  font-size: 14px;
}

.tests-container .test .swiper-container-test .slide .first-lower img {
  height: 20px;
  width: 30px;
  margin: 0px 5px;
}

.tests-container .test .swiper-container-test .slide .first-lower #price {
  font-size: 20px;
  margin: 0px 20px;
}

.tests-container .test .swiper-container-test .slide .second-lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 35px;
  width: 100%;
  padding: 0px 10px;
}

.tests-container .test .swiper-container-test .slide .second-lower .price #before {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
}

.tests-container .test .swiper-container-test .slide .second-lower .price #after {
  margin: 0px 10px;
  font-weight: bold;
}

.tests-container .test .swiper-container-test .slide .second-lower .add span {
  font-size: 15px;
  font-weight: bold;
  color: #FCBC52;
}

.tests-container .test .left, .tests-container .test .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  background: white;
  border: 1px gray dashed;
  border-radius: 50%;
  top: 50%;
  margin: 0px 20px;
  z-index: 2;
  cursor: pointer;
}

.tests-container .test .left {
  left: 0px;
}

.tests-container .test .right {
  right: 0px;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  font-family: sans-serif;
  background-color: #c9c9c9;
  overflow-x: hidden;
}

.whole-body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 92%;
  background-color: white;
}
/*# sourceMappingURL=style.css.map */