.articles 
    .top 
        img(id="svg" src="https://newassets.apollo247.com/images/h-medicine.svg", alt="pill")
        img(id="banner" src="imgs/banner.webp", alt="ass")
        h2 HEALTH ARTICLES & RESOURCES
        p Make better health choices with our curated blogs, videos and expert advice.
    .middle 
        .left
            h2 HEALTH BLOG
            p Explore healthcare content created every day by our experts.
        .right 
            .readmore 
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" color="#000"><path fill-rule="evenodd" d="M0 4.75C0 3.784.784 3 1.75 3h20.5c.966 0 1.75.784 1.75 1.75v14.5A1.75 1.75 0 0122.25 21H1.75A1.75 1.75 0 010 19.25V4.75zm1.75-.25a.25.25 0 00-.25.25v14.5c0 .138.112.25.25.25h20.5a.25.25 0 00.25-.25V4.75a.25.25 0 00-.25-.25H1.75z"></path><path fill-rule="evenodd" d="M5 8.75A.75.75 0 015.75 8h11.5a.75.75 0 010 1.5H5.75A.75.75 0 015 8.75zm0 4a.75.75 0 01.75-.75h5.5a.75.75 0 010 1.5h-5.5a.75.75 0 01-.75-.75z"></path></svg>
                span Read the Latest Articles 
    .dashed
    .bottom
        .upper 
            span YOU CAN ALSO 
        .lower
            .pro.button 
                img(src="imgs/pro.svg", alt="pro")
                span Apollo ProHealth
            .mental.button 
                img(src="imgs/mental.svg", alt="mental")
                span Take a mental health scan
            .explore.button 
                img(src="imgs/explore.png", alt="explore")
                span Explore HealthyLife
            .kavach.button 
                img(src="imgs/kavach.png", alt="kavach")
                span Explore the Apollo Kavach Program