footer 
    .logo.child 
        img(src="imgs/logo.webp", alt="logo")
    .about.child 
        include variables 
        h3 About Apollo 247
        each item in aboutArr
            span= item
    .services.child 
        h3 Services
        each item in services
            span= item
    .specialities.child 
        h3 Top Specialities
        each item in specialities      
            span= item 
    .categories.child 
        h3 Product Categories
        each item in categories
            span= item 