//header
header 
    //logo
    .logo 
        a(href="index.html")  
            img(src="imgs/logo.webp", alt="log")
    //navigation menu        
    .nav 
        //website sections links
        .doctors.item 
            h2 DOCTORS 
            .break-doctors 
            p Consult#[br]Online
        .pharmacy.item 
            h2 PHARMACY
            .break-pharmacy
            p Medicines &#[br]other products
        .lab-tests.item 
            h2 LAB TESTS
            .break-lab
            p Health#[br]check-ups
        .covid-19.item
            h2 COVID-19 
            .break-covid
            p Latest#[br]Updates
        //cart
        .cart 
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" color="#000"><path d="M0 0h24v24H0z" fill="none"></path><path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49A1.003 1.003 0 0020 4H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"></path></svg>
            .number 0
        //user    
        .user 
            .icon-container 
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" color="#000"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>