doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Apollo247 
        link(rel="stylesheet", href="style/style.css")
        link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css")
        link0(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")   
        body
        .whole-body-container
            include floaters 
            include header 
            include main-section
            include slider
            include queries 
            include articles            
            include shopbyhealth
            include topspecialities
            include tests
            include doctor
            include footer 
                 
              
    script(src="https://unpkg.com/swiper/swiper-bundle.js")
    script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(src="scripts/main.js")