.main-section
                .left-hand-content 
                    h1 hello there! 
                    p Always caring about your health, we are here to help you!
                    .buttons-container 
                        .button#top-button
                            img(src="imgs/ic-doctor.svg", alt="ic-doctors")
                            span Book Appointment with Apollo Doctors
                            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" color="#000"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                        .button#middle-button  
                            img(src="imgs/pills.jpg", alt="pills")
                            span Buy Medicines and Essentials
                            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" color="#000"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg> 
                        #bottom-button  
                            .button#left-button 
                                img(src="imgs/microscope.svg", alt="microscope")
                                span Book Lab Tests
                            .button#right-button
                                img(src="imgs/records.svg", alt="records")
                                span View Health Records
                .img-container
                    img(src="imgs/doctors.webp", alt="doctors")