//booking slider 
.swiper-container 
    .swiper-wrapper 
        //booking slide
        .swiper-slide 
            //first slide image
            img(src="imgs/booking.webp", alt="booking")
        .swiper-slide 
            //first slide image
            img(src="imgs/delivery.webp", alt="delivery")
        .swiper-slide
            //first slide image 
            img(src="imgs/booking.webp", alt="booking")
    //slider pagniation        
    .swiper-pagination 
    //previous slide button
    .swiper-button-prev
    //next slide button
    .swiper-button-next
    