.swiper-container 
    .swiper-wrapper 
        .swiper-slide 
            img(src="imgs/booking.webp", alt="booking")
        .swiper-slide 
            img(src="imgs/delivery.webp", alt="delivery")
        .swiper-slide 
            img(src="imgs/booking.webp", alt="booking")
    .swiper-pagination 
    .swiper-button-prev
    .swiper-button-next
    