//booking slider 
.slider-section
    .swiper-container.slider-one 
        .swiper-wrapper 
            //booking slide
            .swiper-slide 
                img(src="imgs/booking.webp", alt="booking")
            .swiper-slide 
                img(src="imgs/delivery.webp", alt="delivery")
            .swiper-slide
                img(src="imgs/booking.webp", alt="booking")
    