.tests-container
    h3 BROWSE LAB TEST PACKAGES
    .line
    .swiper-container.test 
        .swiper-wrapper
            .swiper-slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .swiper-slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .swiper-slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .swiper-slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .swiper-slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .swiper-slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .swiper-slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .swiper-slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .swiper-slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .swiper-slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .swiper-slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .swiper-slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .swiper-slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .swiper-slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .swiper-slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .swiper-slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART