.tests-container
    h3 BROWSE LAB TEST PACKAGES
    .line
    .test 
        .swiper-container-test
            .slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
            .slide
                .top 
                    img(src="imgs/ic_ortho.png", alt="ortho")
                    span CAMPAIGN VITAMIN PACKAGE
                .line    
                .middle 
                    span All Age Group  
                    span 3 Tests Included  
                .line  
                .first-lower
                    span For
                    img(src="imgs/circle.png", alt="circle logo")
                    span Members
                    span#price $80
                .line    
                .second-lower
                    .price  
                        span#before $120
                        span#after $110        
                    .add
                        span ADD TO CART                                        
        .right
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" color="#000"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
        .left  
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" color="#000"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>