.top-specialities 
    h3 TOP SPECIALTIES
    .line 
    .swiper-container.top
        .swiper-wrapper
            .swiper-slide 
                span#title Dermatology
                img(src="imgs/ic_dermatology.webp", alt="dermatology") 
                span#for For skin and hair problems
                span#keys Skin rash, acne, skin patch
            .swiper-slide
                span#title General Physician/ Internal Medicine
                img(src="imgs/ic_general_medicine.webp", alt="general_medicine") 
                span#for For any common health issues
                span#keys Fever, headache, cold
            .swiper-slide
                span#title Obstetrics & Gynaecology
                img(src="imgs/ic_obstetrics_and_gynaecology.webp", alt="dermatology") 
                span#for For women health issues
                span#keys irregular periods, pregnancy
            .swiper-slide
                span#title Paediatrics
                img(src="imgs/ic_paediatrics.webp", alt="dermatology") 
                span#for For children's health care
                span#keys Injury, infection, developmental delay